{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}

    <div class="row">
      <div class="col-12 col-md-6">
          <div class="row-table-header row">
              <div class="col-2 col-md-1 ">#</div>
              <div class="col-4 col-md-3 ">Name</div>
              <div class="col-4 col-md-3 ">Code</div>
              <div class="col-12 col-md-4 ">Actions</div>
          </div>
          {% for wilaya in wilayas %}
          <div class="row-table-data row">
              <div class="col-2 col-md-1 ">{{ wilaya.id }}</div>
              <div class="col-4 col-md-3 ">{{ wilaya.name }}</div>
              <div class="col-4 col-md-3 ">{{ wilaya.isoCode }}</div>
              <div class="col-12 col-md-5 ">

                  <div class="btn-group">
                      <a href="{{ path('app_dashboard_wilaya_show', {'id': wilaya.id}) }}" class="btn btn-phoenix-primary">show</a>
                      <a href="{{ path('app_dashboard_wilaya_edit', {'id': wilaya.id}) }}" class="btn btn-phoenix-secondary">edit</a>
                      <a href="{{ path('app_dashboard_wilaya_delete', {'id': wilaya.id}) }}" class="btn btn-phoenix-danger">delete</a>
                  </div>
              </div>
          </div>
          {% else %}
              <div class="row-table-data row">
              <div class="col-12 ">No Records </div>
              </div>
          {% endfor %}

      </div>
      <div id="form" class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>New Welaya</h5>
            </div>
            <div class="card-body">
                {{ include('dashboard/config/wilaya/_form.html.twig') }}
            </div>
        </div>
      </div>
    </div>
{% endblock %}
