{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row-table-header row">
                <div class="col-3 col-md-1 ">#</div>
                <div class="col-3 col-md-2 ">Name</div>
                <div class="col-3 col-md-2 ">Code</div>
                <div class="col-3 col-md-2">Code</div>
                <div class="col-12 col-md-4 ">Actions</div>
            </div>
            {% for paiement_type in paiement_types %}
                <div class="row-table-data row">
                    <div class="col-3 col-md-1 ">{{ paiement_type.id }}</div>
                    <div class="col-3 col-md-2 ">{{ paiement_type.name }}</div>
                    <div class="col-3 col-md-2 ">{{ paiement_type.color }}</div>
                    <div class="col-3 col-md-2 ">{{ paiement_type.code }}</div>
                    <div class="col-12 col-md-5 ">

                        <div class="btn-group">
                            <a href="{{ path('app_dashboard_config_paiementType_show', {'id': paiement_type.id}) }}" class="btn btn-phoenix-primary">show</a>
                            <a href="{{ path('app_dashboard_config_paiementType_edit', {'id': paiement_type.id}) }}" class="btn btn-phoenix-primary">edit</a>
                            <a href="{{ path('app_dashboard_config_paiementType_delete', {'id': paiement_type.id}) }}" class="btn btn-phoenix-primary">delete</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row-table-data row">
                    <div class="col-12 ">No Records </div>
                </div>
            {% endfor %}

        </div>
        <div id="form" class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>New Paiement type</h5>
                </div>
                <div class="card-body">
                    {{ include('dashboard/config/paiement_type/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


