<form name="interaction-{{ interaction.id }}" method="post" enctype="multipart/form-data" action="{{ path('dashboard_utils_comment_add_comment_interaction_contact',{'id':interaction.id}) }}">
    <div id="comment_form" class="d-flex mb-3 flex-row">
        <div class="justify-content-center">
            <div class="avatar avatar-m me-3 flex-shrink-0 ">

                <img src="{{ asset('uploads/employee') }}/{{ app.user.picture }}" alt="avatar" class="img-thumbnail rounded-circle">
            </div>
        </div>
        <div class=" justify-content-center flex-fill d-flex">
            <input type="hidden" name="interaction" id="inputInteraction" class="form-control" required autofocus value="{{ interaction.id }}">
            <input type="hidden" name="user" id="userId" class="form-control" required autofocus value="{{ app.user.id }}">
            <input type="text" name="text" id="inputText" class="form-control" required autofocus placeholder="Comment">
            <button type="submit" class="btn btn-primary" id="interaction-{{ interaction.id }}_submit" name="interaction-{{ interaction.id }}[submit]"> <span class="fa fa-message">{{ 'Comment' | trans }}</span> </button>

        </div>


    </div>
</form>