{{ form_start(form) }}
<div class="mb-3 row gx-3">
    <div class="col-12 col-md-6 mb-1">
        {{ form_widget(form.firstname) }}
    </div>
    <div class="col-12 col-md-6 mb-1">
        {{ form_widget(form.lastname) }}
    </div>

</div>
<div class="mb-3 row gx-3">
    <div class="col-12 col-md-6 mb-1">
        {{ form_widget(form.email1) }}
    </div>
    <div class="col-12 col-md-6  mb-1">
        {{ form_widget(form.email2) }}
    </div>
</div>
<div class="mb-3 row gx-3">
    <div class="col-12 col-md-6 mb-1">
        {{ form_widget(form.phone1) }}
    </div>
    <div class="col-12 col-md-6 mb-1">
        {{ form_widget(form.phone2) }}
    </div>
</div>
<div class="mb-3 row gx-3">
    <div class="col-12 col-md-6  mb-1">
        {{ form_widget(form.address) }}
    </div>
    <div class="col-12 col-md-6  mb-1">
        {{ form_widget(form.wilaya) }}
    </div>
</div>
<div class="mb-3 row gx-3">
    <div class="col-12 col-md-6  mb-1">
        {{ form_widget(form.job) }}
    </div>
    <div class="col-12 col-md-6  mb-1">
        {{ form_widget(form.contactSource) }}
    </div>

</div>
<div class="mb-3">
    {{ form_widget(form.employee) }}
</div>
<div class="mb-3 row gx-3">
    {{ form_widget(form.submit) }}
</div>

{{ form_end(form) }}
