{# Interaction History #}
<div class="d-flex chat-message interaction-warper" id="interaction-warper-{{ interaction.id }}" >
    <div class="d-flex mb-2 flex-1">
        <div class="w-100 w-xxl-75">
            <div class="d-flex hover-actions-trigger">
                <div class="avatar avatar-m me-3 flex-shrink-0"><img class="rounded-circle" src="{{ asset('uploads/employee') }}/{{ interaction.employee.picture }}" alt=""></div>
                <div class="chat-message-content received me-2">
                    <div class="mb-1 received-message-content border rounded-2 p-3">

                        <span class="badge badge-phoenix" style="background-color: {{ interaction.contactState.color }}; border: 1px solid {{ interaction.contactState.colorBorder }}; color: {{ interaction.contactState.colorText }}"> {{ interaction.contactState.name}} </span>
                        <p class="mb-0">{{ interaction.text }}</p>
                    </div>
                </div>
            </div>
            <p class="mb-0 fs--2 text-600 fw-semi-bold ms-7">{{ interaction.dateAdd | format_datetime('full','short',locale='fr') }}</p>
        </div>
    </div>
</div>
{% if interaction.comments is not empty %}
    <div class="border-start">


    <h5 class="px-5 mb-2">{{ 'Reponses' | trans }}</h5>
{% for comment in interaction.comments %}
    <div class="px-5">
        {% include('dashboard/crm/_partials/_comment.html.twig') %}
    </div>

{% endfor %}
    </div>
{% endif %}
<div id="form-{{ interaction.id }}" class=" reply-form">
    {% include('dashboard/crm/contact/_partials/_comment_interaction_form.html.twig') %}
</div>
<hr>
