{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-12">
        {{ form_row(form.text) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.source) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.type) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.contactState) }}
    </div>

    <div class="col-12 col-md-4">
        {{ form_row(form.submit) }}
    </div>
</div>

{{ form_end(form) }}