{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
    <h1>Configuration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuration.id }}</td>
            </tr>
            <tr>
                <th>Configkey</th>
                <td>{{ configuration.configkey }}</td>
            </tr>
            <tr>
                <th>Configvalue</th>
                <td>{{ configuration.configvalue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_configuration_index') }}">back to list</a>

    <a href="{{ path('app_configuration_edit', {'id': configuration.id}) }}">edit</a>

    {{ include('configuration/_delete_form.html.twig') }}
{% endblock %}
