{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}{{ 'New WebPage' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new WebPage' | trans }}</h1>

    {{ include('dashboard/web_page/_form.html.twig') }}

    <a href="{{ path('app_dashboard_web_page_index') }}">{{ 'back to list' | trans }}</a>
{% endblock %}
