<li class="nav-item dropdown">
    <a class="nav-link" href="#" style="min-width: 2.5rem" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
        <span data-feather="bell" style="height:20px;width:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" style="height:20px;width:20px;">
                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg>
        </span>
    </a>

    <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border border-300 navbar-dropdown-caret" id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
        <div class="card position-relative border-0">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between">
                    <h5 class="text-black mb-0">{{ 'Notificatons' | trans }}</h5>
                    <a class="btn btn-link p-0 fs--1 fw-normal" type="button" href="{{ path('app_dashboard_utils_notification_readall') }}">
                        {{ 'Mark all as read' | trans }}
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="scrollbar-overlay" style="height: 27rem;">

                    {{ render(controller('App\\Controller\\Dashboard\\utils\\NotificationsController::myNotifications')) }}
                </div>
            </div>
            <div class="card-footer p-0 border-top border-0">
                <div class="my-2 text-center fw-bold fs--2 text-600">
                    <a class="fw-bolder" href="{{ path('app_dashboard_utils_notification_my_notifications_page') }}">
                        {{ 'Notification history' | trans }}

                    </a></div>
            </div>
        </div>
    </div>
</li>