{% extends 'customer/base_customer.html.twig' %}

{% block title %}Hello CustomerProfileController!{% endblock %}



{% block body %}
    <h1 class="page-title mt-1 mb-4">Bonjour, {{ app.user.firstname }}</h1>
        <div id="main" class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <section id="orders">
                        <h2 class="header-container mt-1 mb-3 p-3 border-bottom">{{ 'Acquisitions' | trans }}</h2>
                        <div class="row-table-header row">
                            <div class="col-12 col-md-3">
                                {{ 'Acquisition' | trans }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ 'Project' | trans }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ 'Paiement type' | trans }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ 'Opt' | trans }}
                            </div>
                        </div>
                        {% for order in customer.orders %}
                            <div class="row-table-data row">
                                <div class="col-12 col-md-3">
                                    {{ order.bien.name }}
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ order.bien.project.publicName }}
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ order.orderType }}
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="{{ path('app_customer_order', {'id': order.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </section>
                    <section id="paiements">
                        <h2 class="header-container mt-1 mb-3 p-3 border-bottom">{{ 'Paiements' | trans }}</h2>
                        <div class="row-table-header row">
                            <div class="col-12 col-md-3">
                                T/P | Date
                            </div>
                            <div class="col-12 col-md-3">
                                Montant | Validé
                            </div>
                            <div class="col-12 col-md-3">
                                Acquisition
                            </div>
                            <div class="col-12 col-md-3">
                                Opt
                            </div>
                        </div>
                        {% for paiement in customer.paiementHistories %}
                            <div class="row-table-data row">
                                <div class="col-12 col-md-3">
                                    {{ paiement.type }} | {{ paiement.dateAdd | date('d/m/Y') }}
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ paiement.total | number_format(2, ',', ' ') }} DZD | <i class="fa fa-{{ paiement.isValid?'check':'xmark' }}"></i>
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ paiement.orderPaiement.bien.name }}
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="{{ path('app_customer_paiement', {'id': paiement.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                    <section id="echeances">
                        <h2 class="header-container mt-1 mb-3 p-3 border-bottom">{{ 'Echeanciers' | trans }}</h2>
                        <div class="row-table-header row">
                            <div class="col-12 col-md-3">
                                Montant
                            </div>
                            <div class="col-12 col-md-3">
                                Date
                            </div>
                            <div class="col-12 col-md-3">
                                Acquisition
                            </div>
                            <div class="col-12 col-md-3">
                                Opt
                            </div>
                        </div>
                        {% for schudle in customer.paiementSchudles %}
                            <div class="row-table-data row">
                                <div class="col-12 col-md-3">
                                    {{ schudle.total | number_format(2, ',', ' ') }} DZD
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ schudle.dateAdd | date('d/m/Y') }}
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ schudle.orderSchudle.bien.name }}
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="{{ path('app_customer_schudle', {'id': schudle.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
                <div class="col-12 col-md-4">
                        <div class="card mb-5">
                            <div class="card-header hover-actions-trigger position-relative mb-6" style="min-height: 130px; ">
                                <div class="bg-holder rounded-top"
                                     style="
                                    background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%),
                                    url({{ asset('uploads/public') }}/{{ app.user.orders.0.bien.format.image }})
                                ">
                                    <input class="d-none" id="upload-settings-cover-image" type="file">
                                    <label class="cover-image-file-input" for="upload-settings-cover-image"></label>
                                    <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white">
                                        <svg class="svg-inline--fa fa-camera me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                            <span class="fa-solid fa-camera me-2"></span>
                                        </svg>
                                    </div>
                                </div>
                                <input class="d-none" id="upload-settings-porfile-picture" type="file">
                                <label class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer" for="upload-settings-porfile-picture">
                                    <img class="rounded-circle img-thumbnail bg-white shadow-sm" src="{{ asset('uploads/customer') }}/{{ app.user.picture }}" width="200" alt="">
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap mb-2 align-items-center">
                                            <h3 class="me-2">
                                                {{ app.user.firstname }} {{ app.user.lastname }}
                                            </h3>
                                            <span class="fw-normal fs-0">{{ 'Customer' | trans }}</span>
                                        </div>
                                        <div class="d-flex d-xl-block d-xxl-flex align-items-center">
                                            <div class="d-flex mb-xl-2 mb-xxl-0"><span class="fa-solid fa-building fs--2 me-2 me-lg-1 me-xl-2"></span>
                                                <h6 class="d-inline-block mb-0">
                                                    {{ app.user.orders | length }}
                                                    <span class="fw-semi-bold ms-1 me-4">{{ 'Acquisitions' | trans }}</span></h6>
                                            </div>
                                            <div class="d-flex">
                                                <span class="fa-solid fa-file-invoice fs--2 me-2 me-lg-1 me-xl-2"></span>
                                                <h6 class="d-block d-xl-inline-block mb-0">
                                                    {{ app.user.paiementHistories | length }}
                                                    <span class="fw-semi-bold ms-1">{{ 'Paiements' | trans }}</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom border-dashed pb-3 mb-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <b><span class="fa-solid fa-envelope"></span>
                                        {{ 'Email' | trans }} :
                                    </b>
                                    {{ app.user.email }}
                                </li>
                                <li class="list-group-item">
                                    <b>
                                        <span class="fa-solid fa-phone"></span>
                                        {{ 'Phone' | trans }} :
                                    </b>
                                    {{ app.user.phone }}
                                </li>
                                <li class="list-group-item">
                                    <b>
                                        <span class="fa-solid fa-address-book"></span>
                                        {{ 'Address' }} :
                                    </b>
                                    {{ app.user.address }}
                                </li>
                                <li class="list-group-item">
                                    <b>
                                        <span class="fa-solid fa-calendar-days"></span>
                                        {{ 'Dob' }} :
                                    </b>
                                    {{ app.user.dob | date('Y-m-d') }}
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('app_customer_profile') }}" class="btn btn-outline-phoenix-info btn-block">
                                        <i class="fa fa-edit"></i>
                                        {{ 'Edit' | trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>

{% endblock %}
