{% extends 'dashboard/base_dashboard.html.twig' %}


{% block body %}
    <div class="page-header">
        <h1 class="page-title">{{ controller_name }}</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">{{ 'HR' | trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ controller_name }}</li>
            </ol>
        </div>
    </div>
<div class="row row-cards">
    <div class="col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h2 class="card-title">{{ employees | length }} {{ 'Employee' | trans }}</h2>
                <div class="card-options">
                    <a href="{{ path('app_dashboard_hr_new_employee') }}" class="btn btn-primary btn-sm">{{ 'New employee' | trans }}</a>

                </div>
            </div>
            <div class="e-table p-2">
                <div class="table-responsive table-lg">
                    <table class="table border-top table-bordered mb-0">
                        <thead>
                            <tr>
                                <th class="align-middle text-center"><span class="text-muted">ID</span></th>
                                <th class="align-middle text-center"><span class="text-muted">{{ 'Name' | trans }}</span></th>
                                <th class="align-middle text-center"><span class="text-muted">{{ 'Email' | trans }}</span></th>
                                <th class="align-middle text-center"><span class="text-muted">{{ 'Role' | trans }}</span></th>
                                <th class="align-middle text-center"><span class="text-muted">{{ 'Actions' | trans}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in employees %}

                                {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                                <tr>
                                    <td class="align-middle text-center">{{ user.id }}</td>
                                    <td class="align-middle text-center">{{ user.firstname }}</td>
                                    <td class="align-middle text-center">{{ user.email }}</td>
                                    <td class="align-middle text-center">{{ user.job.name }}</td>
                                    <td class="align-middle text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-red btn-sm" href="{{path('app_dashboard_hr_edit_employee',{'id':user.id})}}">{{ 'edit' | trans }}</a>
                                        </div>

                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
