<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.facebookLink }}" class="KnowMore" target="_blank" rel="noopener noreferrer">
        <i class="facebookIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.instagram }}" class="KnowMore" target="_blank" rel="noopener noreferrer">
        <i class="InstagramIcone"></i>
    </a>
</li>
<li class="nav-item m-1"><a href="{{ globalVariables.TheCompany.twitter }}" class="KnowMore" target="_blank" rel="noopener noreferrer">
        <i class="TwitterIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.tiktok }}" class="KnowMore" target="_blank" rel="noopener noreferrer">
        <i class="TiktokIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.linkedin }}" class="KnowMore" target="_blank" rel="noopener noreferrer">
        <i class="LinkedinIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.messenger }}" class="ExtContact" target="_blank" rel="noopener noreferrer">
        <i class="MessengerIcone" ></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.whatsapp }}" class="ExtContact" target="_blank" rel="noopener noreferrer">
        <i class="WhatsappIcone" ></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="{{ globalVariables.TheCompany.viber }}" class="ExtContact"  target="_blank" rel="noopener noreferrer">
        <i class="ViberIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="mailto:{{ globalVariables.TheCompany.email1 }}" class="ExtContact" target="_blank" rel="noopener noreferrer">
        <i class="EmailIcone"></i>
    </a>
</li>
<li class="nav-item m-1">
    <a href="tel:{{ globalVariables.TheCompany.phone1 }}" class="tagCall">
        <i class="PhoneIcone"></i>
    </a>
</li>