<div id="logo-pages" class="logo ">
    <div id="logo_pages_desktop" class="d-none d-md-block d-lg-block">

        <img src="{{ asset('/uploads/the_company') }}/{{ globalVariables.TheCompany.logoMainLight }}" alt="logo" class="img-fluid logo-img" width="165">
    </div>
    <div id="logo_pages_mobile" class="d-sm-block d-md-none">
        <img src="{{ asset('/uploads/the_company') }}/{{ globalVariables.TheCompany.logoMobileLight }}" alt="logo" class="img-fluid logo-img" width="165">
    </div>
</div>
<div id="logo-home" class="logo d-none">
    <div id="logo_home_desktop" class="d-none d-md-block d-lg-block">
        <img src="{{ asset('/uploads/the_company') }}/{{ globalVariables.TheCompany.logoMainDark }}" alt="logo" class="img-fluid logo-img" width="165">
    </div>
    <div id="logo_home_mobile" class="d-sm-block d-md-none">
        <img src="{{ asset('/uploads/the_company') }}/{{ globalVariables.TheCompany.logoMobileDark }}" alt="logo" class="img-fluid logo-img" width="165">
    </div>
</div>
