<div class="modal fade" id="etreRapeleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informations pour étre rappelé</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
            </div>
            <div class="modal-body" data-action="submit->modal-form#submitForm" data-modal-form-target="modalBody" >
                <div>


                    <form
                            action="{{ path('app_callback_submit') }}"
                            id="etrerapele" method="post"
                            name="etrerapele"
                            enctype="multipart/form-data"
                            {{ stimulus_controller('callbackPhone',{'url':path('app_callback_submit')}) }}
                            data-action="callbackPhone#onSubmit"
                    >
                        <div class="form-group">
                            <label for="lastname" class="form-label">{{ 'Nom' | trans }}</label>
                            <input type="text" name="lastname" id="lastname" class="form-control mb-3">
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="form-label">{{ 'Prenom' | trans }}</label>
                            <input type="text" name="firstname" id="firstname" class="form-control mb-3">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="form-label">{{ 'Téléphone' | trans }}</label>
                            <input type="text" name="phone" id="phone" class="form-control mb-3">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">{{ 'Email' | trans }}</label>
                            <input type="text" name="email" id="email" class="form-control mb-3">
                        </div>
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('prospects_leads_form') }}"
                        >
                        <input type="hidden" id="form_captcha" name="_captcha" /><script>
                            var recaptchaCallback_form_captcha = function() {
                                grecaptcha.execute('6LfuI_AoAAAAADDPTFRgx1M804baN7BDrX3Ak6-t', {action: 'landing_page_callback'}).then(function(token) {
                                    document.getElementById('form_captcha').value = token;

                                });
                            };
                        </script>
                        <script src="https://www.google.com/recaptcha/api.js?render=6LfuI_AoAAAAADDPTFRgx1M804baN7BDrX3Ak6-t&onload=recaptchaCallback_form_captcha" async defer></script>

                        <button class="btn btn-primary btn-block"  type="submit" id="submitForm">{{ 'Submit' | trans }}</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>