<div class="card mb-5">
    <div class="card-body">
        <div class="row g-4 g-xl-1 g-xxl-3 justify-content-between">
            <div class="col-sm-auto">
                <div class="d-sm-block d-inline-flex d-md-flex flex-xl-column flex-xxl-row align-items-center align-items-xl-start align-items-xxl-center">
                    <div class="d-flex bg-success-100 rounded flex-center me-3 mb-sm-3 mb-md-0 mb-xl-3 mb-xxl-0" style="width:32px; height:32px">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <div>
                        <p class="fw-bold mb-1">{{ 'Customer value' | trans }}</p>
                        <h4 class="fw-bolder text-nowrap">{{ value | format_currency('DZD') }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="d-sm-block d-inline-flex d-md-flex flex-xl-column flex-xxl-row align-items-center align-items-xl-start align-items-xxl-center border-start-sm ps-sm-5">
                    <div class="d-flex bg-info-100 rounded flex-center me-3 mb-sm-3 mb-md-0 mb-xl-3 mb-xxl-0" style="width:32px; height:32px">
                        <i class="fa fa-code"></i>
                    </div>
                    <div>
                        <p class="fw-bold mb-1">{{ 'Customer Code' | trans }}</p>
                        <h4 class="fw-bolder text-nowrap">CL#00{{ customer.id }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="d-sm-block d-inline-flex d-md-flex flex-xl-column flex-xxl-row align-items-center align-items-xl-start align-items-xxl-center border-start-sm ps-sm-5">
                    <div class="d-flex bg-primary-100 rounded flex-center me-3 mb-sm-3 mb-md-0 mb-xl-3 mb-xxl-0" style="width:32px; height:32px">
                        <span class="text-primary-600 dark__text-primary-300 fa fa-stamp"  style="width:24px; height:24px"></span>
                    </div>
                    <div>
                        <p class="fw-bold mb-1">{{ 'Customer State' | trans }}</p>
                        <h4 class="fw-bolder text-nowrap">{{ customer.state.name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>