<div class="nav-item-wrapper">
    <a class="nav-link dropdown-indicator label-1" href="#nv-suppliers" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-suppliers">
        <div class="d-flex align-items-center">
            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
            <span class="nav-link-icon"><span class="fa-solid fa-industry"></span></span>
            <span class="nav-link-text">{{ 'Suppliers'| trans }}</span>
        </div>
    </a>
    <div class="parent-wrapper label-1">
        <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-suppliers">
            <li class="collapsed-nav-item-title d-none">
                {{ 'Suppliers' | trans  }}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-text">{{ 'Suppliers' | trans }}</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-text">{{ 'Suppliers' | trans }}</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-text">{{ 'Suppliers Orders' | trans }}</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-text">{{ 'Suppliers stats' | trans }}</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>