{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">{{ controller_name }}</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">CRM</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ controller_name }}</li>
            </ol>
        </div>
    </div>

    <div class="row row-cards">
        <div class="col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header border-bottom-0">
                    <h2 class="card-title">{{ customer.firstname }}</h2>
                    <div class="card-options">
                        <a href="#" class="btn btn-primary btn-sm">{{ 'New Customer ? ' |trans}}</a>

                    </div>
                </div>
                <div class="card-body">
                    <p>Name : {{ customer.firstname }} {{ customer.lastname }}</p>
                    <p>Email : {{ customer.email }}</p>
                    <p>Phone : {{ customer.phone }}</p>
                    <p>Object : {{ customer.address }}</p>
                    <p>
                       somthing here too
                    </p>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
