{% extends 'base.html.twig' %}

{% block title %}Log In!{% endblock %}

{% block body %}

        <style>
        .container-login100{
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            z-index: 999;

        }
        .wrap-login100{
            width: 390px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            /*padding: 77px 55px 33px 55px;*/
            position: relative;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.06);
        }
        .login100-form-title {
            font-size: 24px;
            line-height: 1.2;
            text-align: center;
            width: 100%;
            display: block;
            padding-bottom: 30px;
            color: #424344;
        }
        body{
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

        }
        .login-form{

        }
        .pb-5, .py-5 {
            padding-bottom: 1.5rem !important;
        }
        .tab-menu-heading {
            padding: 0px;
            border-bottom: 1px solid #e9edf4 !important;
            font-size: 16px;
            font-weight: 500;
        }
        .wrap-input100 {
            position: relative;
            width: 100%;
            z-index: 1;
            margin-bottom: 10px;
        }
        .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }
        .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
        }
        .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .text-muted {
            color: #74829c !important;
        }
        .bg-white {
            background-color: #fff !important;
        }
        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.64rem 0.75rem;
            margin-bottom: 0;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.2;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            border: 1px solid #e9edf4;
        }
        .input-group-text {
            border-left: 0;
        }
        .input-group-text {
            border-right: 0;
        }
        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.64rem 0.75rem;
            margin-bottom: 0;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 0.9;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: var(--primary-bg-color);
            border: 1px solid #e9edf4;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 0;
        }
        .bg-white {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
        }
        .text-muted {
            --bs-text-opacity: 1;
            color: #6c757d!important;
        }
        .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .input-group>.form-control:not(:first-child), .input-group>.form-select:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .input-group>.form-control:not(:first-child), .input-group>.form-select:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .input-group>.form-control, .input-group>.form-select, .input-group>.form-file {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
        }
        .input-group>.form-control, .input-group>.form-select, .input-group>.form-file {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
        }
        .input-group>.form-control, .input-group>.form-select {
            position: relative;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
        }
        .ms-0, .mx-0 {
            margin-left: 0 !important;
        }
        .border-start-0 {
            border-left: 0 !important;
        }
        .input100 {
            font-size: 15px;
            line-height: 1.5;
            color: #000;
            display: block;
            width: 80%;
            background: #ffffff;
            height: 44px;
            padding: 0 30px 0 20px;
            border-radius: 5px;
            border: 1px solid #ecf0fa;
        }
        .form-control {
            display: block;
            width: 100%;
            padding: 0.475rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #4d5875;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e9edf4;
            border-radius: 7px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .ms-0 {
            margin-left: 0!important;
        }
        .border-start-0 {
            border-left: 0!important;
        }
        .form-control {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .container-login100-form-btn {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 15px;
        }
        .btn-primary {
            color: #fff !important;
            background: #6c5ffc !important;
            border-color: #6c5ffc !important;
        }
        .login100-form-btn {
            line-height: 1.5;
            color: #fff;
            width: 100%;
            height: 40px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            border-radius: 5px;
        }
        .btn-primary {
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
        a {
            color: #6c5ffc;
        }
        .p-6 {
            padding: 1.5rem !important;
        }
        .form-label {
            padding-left: 1rem;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 0.64rem;
            font-weight: 700;
            color: #525b75;
        }
        .text-start {
            text-align: left !important;
        }
        /* Reset some default styling */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        /* Container styles */
        .container-login100 {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .wrap-login100 {
            width: 100%;
            max-width: 400px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        /* Form styles */
        .login-form {
            text-align: center;
        }

        .login100-form-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .alert {
            margin-bottom: 20px;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
            padding: 10px;
            border-radius: 5px;
        }

        .mb-3 {
            margin-bottom: 15px;
        }

        /* Input styles */
        .wrap-input100 input[type="email"],
        .wrap-input100 input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        /* Checkbox styles */
        .checkbox {
            display: flex;
            align-items: center;
        }

        /* Button styles */
        .login100-form-btn {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login100-form-btn:hover {
            background-color: #0056b3;
        }



    </style>


    <div class="container-login100">

        <div class="wrap-login100 p-6">
            <div class="login-form bg-light  p-4">
                <div class="" style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; ">
                    <div class="text-center">
                        <a href="{{ path('app_web_index') }}">
                            <img src="{{ asset('images/logo.svg') }}" class="header-brand-img" alt="Logo Affiniat" width="200px"></a>
                    </div>
                </div>
                <form method="post" class="row g-3">
                    <h1 class="login100-form-title pb-5">{{ 'Sign in' | trans }}</h1>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.email }}, <a href="{{ path('app_dashboard_logout') }}">{{ 'Logout' | trans }}</a>
                        </div>
                    {% endif %}
                    <div class="wrap-input100 ">
                        {#    <label for="inputEmail" class="form-label">{{ 'Email' | trans }}</label>#}
                        <div class="">
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="wrap-input100 ">
                        {#  <label for="inputPassword" class="form-label">{{ 'Password' | trans }}</label>#}
                        <div class="">
                            <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="checkbox mb-3">
                        <label for="remember_me" class="form-label">
                            <input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input">
                            {{ 'Remember me' | trans }}
                        </label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn btn-primary" type="submit" style="width:100%">
                            {{ 'Sign in' | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
