{% extends 'dashboard/base_dashboard.html.twig' %}


{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}
<style>
    #statChart  {
        width: 100%;
        height: 250px;
    }
    </style>
    <section id="leads">
        <div class="d-flex mb-5 pt-8" id="scrollspyStats"><span class="fa-stack me-2 ms-n1"><svg class="svg-inline--fa fa-circle fa-stack-2x text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z"></path></svg><!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-percent fa-inverse fa-stack-1x text-primary-soft" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="percent" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M374.6 73.39c-12.5-12.5-32.75-12.5-45.25 0l-320 320c-12.5 12.5-12.5 32.75 0 45.25C15.63 444.9 23.81 448 32 448s16.38-3.125 22.62-9.375l320-320C387.1 106.1 387.1 85.89 374.6 73.39zM64 192c35.3 0 64-28.72 64-64S99.3 64.01 64 64.01S0 92.73 0 128S28.7 192 64 192zM320 320c-35.3 0-64 28.72-64 64s28.7 64 64 64s64-28.72 64-64S355.3 320 320 320z"></path></svg><!-- <i class="fa-inverse fa-stack-1x text-primary-soft fas fa-percentage"></i> Font Awesome fontawesome.com --></span>
            <div class="col">
                <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-soft pe-2">{{ 'Number Stats Charts' | trans }}</span><span class="border border-primary-200 position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h3>
                <p class="mb-0">Statistiques des prospects et des clients par source états compagnes.. </p>
            </div>
        </div>
        <div class="row g-3 mb-5">
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="card h-100">
                    <div class="card-header">
                        {{ 'Per state' | trans }}
                    </div>
                    <div class="card-body">

                        {{ render_chart(leadsSatesChart,{'id': 'statChart1','data-controller': 'chartjsdoghnut'}) }}


                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="card h-100">
                    <div class="card-header">
                        {{ 'Per Source' | trans }}
                    </div>
                    <div class="card-body">

                {{ render_chart(leadsSourcesChart,{'id': 'statChart2','data-controller': 'chartjsdoghnut'}) }}

                </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="card h-100">
                    <div class="card-header">
                        {{ 'Per job' | trans }}
                    </div>
                    <div class="card-body">

                {{ render_chart(leadsJobsChart,{'id': 'statChart3','data-controller': 'chartjsdoghnut'}) }}

                    </div></div>
            </div>
            <div class="col-12 col-md-6 col-xxl-3">
                <div class="card h-100">
                    <div class="card-header">
                        {{ 'Per Interest' | trans }}
                    </div>
                    <div class="card-body">

                {{ render_chart(leadInterestChart,{'id': 'statChart3','data-controller': 'chartjsdoghnut'}) }}

                    </div></div>
            </div>


            <div class="col-12 col-md-6">
                <div class="card ">
                    <div class="card-header">
                        {{ 'Last 30 Days new leads' | trans }}
                    </div>
                    <div class="card-body">

                        {{ render_chart(lead30LastDaysChart,{'id': 'statChart4'}) }}

                    </div></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card ">
                    <div class="card-header">
                        {{ 'Per Compaign' | trans }}
                    </div>
                    <div class="card-body">

                        {{ render_chart(leadCompaignChart,{'id': 'statChart4'}) }}

                    </div></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card ">
                    <div class="card-header">
                        {{ 'Website Visitors 30 Last Days' | trans }}
                    </div>
                    <div class="card-body">

                        {{ render_chart(visitors30LastDaysChart,{'id': 'statChart4'}) }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Customer">
        <h3>{{ 'Customer Stats' | trans }}</h3>
        <div class="row">

        </div>
    </section>
    <section id="Orders">
        <h3>{{ 'Ordders Stats' | trans }}</h3>
        <div class="row">

        </div>
    </section>
{% endblock %}
