<section class="about-section pt-100">
    <div class="container-fluid custom-container-fluid">
        <div class="row align-items-center pb-70">
            <div class="col-lg-7 pb-30 order-2 order-lg-1">
                <div class="about-content-item text-lg-end">
                    <img src="{{ asset('/images/homepage-one/about-image-1.png') }}" alt="about">
                </div>
            </div>
            <div class="col-lg-5 pb-30 order-1 order-lg-2">
                <div class="max-530 me-auto">
                    <div class="about-content-item">
                        <div class="section-title section-title-left">
                            <small>Cyco Premium Security</small>
                            <h2>Complete Protection For All Your Devices</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="about-list">
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/computer-bug.svg') }}" alt="computer">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Malware Detection Removal</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/shields.svg') }}" alt="shields">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Create Protecting Shield</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/fingerprint-scanner.svg') }}" alt="fingerprint">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Always Finger Print Protection</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pb-70">
            <div class="col-lg-5 pb-30">
                <div class="max-530 ms-auto">
                    <div class="about-content-item">
                        <div class="section-title section-title-left">
                            <small>Cyco Advanced Security</small>
                            <h2>Our Complete Approach To Online Security</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="about-list">
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/smartphones.svg') }}" alt="computer">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Online Security For Your Devices</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/servers.svg') }}" alt="shields">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Provide Appropriate Antivirus</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/emails.svg') }}" alt="fingerprint">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Always Notify If Any Suspicious Thing Happens</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pb-30">
                <div class="about-content-item text-lg-start">
                    <img src="{{ asset('/images/homepage-one/about-image-2.png') }}" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>