<section class="about-section">
    <div class="container-fluid custom-container-fluid">
        <div class="row align-items-center pb-70">
            <div class="col-lg-7 pb-30 order-2 order-lg-1">
                <div class="about-content-item text-lg-end">
                    <img src="{{ asset('/images/homepage-one/about-image-3.png') }}" alt="about">
                </div>
            </div>
            <div class="col-lg-5 pb-30 order-1 order-lg-2">
                <div class="max-530 me-auto">
                    <div class="about-content-item">
                        <div class="section-title section-title-left">
                            <small>Cyco Premium Security</small>
                            <h2>24/7 Online Cybersecurity Operation Center</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="about-list">
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/shields-3.svg') }}" alt="computer">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Providing Security 24/7</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/lock-pattern-2.svg') }}" alt="shields">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>24/7 Online Support</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/computer-2.svg') }}" alt="fingerprint">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Urgent Security Service</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pb-70">
            <div class="col-lg-5 pb-30">
                <div class="max-530 ms-auto">
                    <div class="about-content-item">
                        <div class="section-title section-title-left">
                            <small>Cyco Advanced Security</small>
                            <h2>Our Approach To Online Security Everywhere</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="about-list">
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/hackers-2.svg') }}" alt="computer">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Secure By Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/browsers-2.svg') }}" alt="shields">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Compliant By Design</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                            <div class="about-list-item">
                                <div class="about-list-icon-bg">
                                    <div class="about-list-icon-thumb">
                                        <img src="{{ asset('/images/security-camera-2.svg') }}" alt="fingerprint">
                                    </div>
                                </div>
                                <div class="about-list-text">
                                    <h3>Continuous Monitoring</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pb-30">
                <div class="about-content-item text-lg-start">
                    <img src="{{ asset('/images/homepage-one/about-image-4.png') }}" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>