<div class="partner-section p-tb-100 page-bg page-bg-1">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-1.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-2.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-3.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-4.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-5.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-1.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-2.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-3.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-4.png') }}" alt="partner"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('/images/homepage-one/partner-5.png') }}" alt="partner"></a>
            </div>
        </div>
    </div>
</div>